/* make all section elements with id box2 have a gradient red and yellow background with very subtle gradient effect and black borders with centered <p> <ul> and <li> elements*/
.box2 {
  /* fix box2 to have slightly curved borders and to not take up the full width of the screen*/
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(45deg, rgba(216, 216, 199, 0.555), rgba(51, 137, 158, 0.562));
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.box2 p {
    font-size: 1.5em;
}

.box2 ul {
    list-style-type: none;
}

.box2 li {
    font-size: 1.2em;
}

/* make sections with id of knowledge accomplishments and facts appear next to each other as three columns with a gap of 10px between them */
#knowledge, #accomplishments, #facts {
    display: inline-block;
    width: 30%;
    margin: 30px;
}

/* force all elements in the knowledge, accomplishments, and facts sections to remain within their respective sections and be displayed in rows instead of columns */
#knowledge ul, #accomplishments ul, #facts ul {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

/* create horizontal lines between each li element in the knowledge, accomplishments and facts sections */
#knowledge li, #accomplishments li, #facts li {
    border-bottom: 3px dotted black;
    padding: 10px;
}

/* create padding between main div with id body-aboutMe between page and header */
#body-aboutMe {
    padding-top: 50px;
}

/* center background section */

@media (max-width: 768px) {
    #knowledge, #accomplishments, #facts {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}