/* make header display constantly at the top of the screen and have a nive dark blue color */
/* add space between header and body of page */


.nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #2f086e;
  color: rgb(255, 255, 255);
  padding: 20px 0;
}

.nav-link {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  width: 100px;
}

