/* make main always take up full size of the screen */

main {
  min-height: 90vh;
  min-width: 100%;
  display: flex;
  margin-top: 30px;
  padding: 20px;
  color: white;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(11, 4, 75));
}